<hibernate-configuration>
    <session-factory>
        <!-- PostgreSQL JDBC Properties -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url"/>
        <property name="hibernate.connection.username"/>
        <property name="hibernate.connection.password"/>

        <!-- Hibernate Properties -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">create</property>

        <!-- Annotated Classes -->
        <mapping class="org.example.library.entities.Book"/>
        <mapping class="org.example.library.entities.Borrow"/>
        <mapping class="org.example.library.entities.FormRequest"/>
        <mapping class="org.example.library.entities.Notification"/>
        <mapping class="org.example.library.entities.User"/>
        <mapping class="org.example.library.entities.UserRating"/>
    </session-factory>
</hibernate-configuration>